@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 1px solid black;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 1.2em 2em;
  font-size: 1.2em;
}

nav ul li a {
  text-decoration: none;
  color: #e01111;
}

nav ul li a:hover {
  padding: 0.2em 0.5em;
  background-color: #2156fa;
  color: #fff;
  transition: 0.3s ease;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0% 25%;
  width: 100%;
  height: 100vh;
  background-color: #8f0756;
  color: #eee;
  padding-top: 4em;
  /* #eea302 */
}

#welcome-section h1 {
  margin-bottom: 0.2em;
  font-size: 2.5em;
}

#projects h4 {
  margin-bottom: 0.2em;
  font-size: 1.2em;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  background-color: #001f3f;
  padding-bottom: 5em;
}

#projects h2 {
  margin-bottom: 2em;
  color: #eee;
}

.projects-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-image {
  height: 40em;
  width: 100%;

  border-radius: 1%;
  border: 1.5px solid #004466;
}

.projects-info a {
  text-align: center;
  color: #eee;
  text-decoration: none;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #80d8da;
}

#profile-link {
  font-size: 1.2em;
  margin: 1.5em;
  color: #d13;
  text-decoration: none;
}

.fa {
  margin-right: 0.3em;
}

#profile-link:hover {
  color: #000;
}

#contact h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#contact h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.card {
  position: relative;
  margin: 5px;
}
.card-title {
  position: absolute;
  top: -10;
  left: 0;
  color: #000;
  padding: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 196, 0);
  opacity: 1;
}
.card:hover {
  opacity: 1;
  background-color: rgba(139, 136, 135, 0.479);
}

.card .order-btn {
  position: absolute;
  bottom: 10px;
  right: 10%;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
}

.card .atc {
  position: absolute;
  bottom: 10px;
  right: 40%;
  padding: 10px;
  background-color: rgb(255, 217, 0);
  color: black;
  border: none;
  border-radius: 5px;
}

.card .price {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  height: 4rem;
  width: 5rem;
  text-align: center;
  padding-top: 5%;
  border-bottom-left-radius: 5px;
  background-color: rgba(104, 119, 107, 0.521);
}
.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.non-veg {
  background-color: brown;
}
.veg {
  background-color: green;
}

#orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #b920a0;
}

#fa-bars {
  display: none;
  color: white;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
  background-color: violet;
}
@media only screen and (max-width: 600px) {
  .projects-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .project-image {
    height: 25em;
    width: 100%;
    border-radius: 1%;
    border: 1.5px solid #004466;
  }
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: #8f0756;
    color: #eee;
    padding-left: 2em;
    font-size: 13px;
    padding-top: 1em;
    padding-right: 1em;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .project-image {
    height: 20em;
    width: 100%;
    border-radius: 1%;
    border: 1.5px solid #004466;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1300px) {
  .project-image {
    height: 32em;
    width: 100%;
    border-radius: 1%;
    border: 1.5px solid #004466;
  }
}
